[Global]
use_babsma = True
use_bsyn = True
use_eqwdith_ew = True
use_eqwdith_abu = True
version = 15.1
lambda_min = 5500
lambda_max = 6600
delta_lambda = 0.01
turbulence_velocity = 1.0
metallicity = -.000
model_file = p6500_g+4.0_m0.0_t01_st_z-2.00_a+0.40_c+0.00_n+0.00_o+0.40_r+0.00_s+0.00.mod
chifix= T
marcsfile = .true.
intensity_or_flux = Flux
spherical = F
create_dirs_and_links = True

[Eqwidth]
abfind = .true.
files = ${Path:base_dir}/${Path:linelists_dir}/TestBsyn
extension = .eqw

[Abundances]
abfind = .false.
files = ${Path:base_dir}/${Path:linelists_dir}/TestBsyn
extension = .findabu

[SyntheticSpectrum]
abfind = .false
files = ${Path:base_dir}/${Path:linelists_dir}/TestBsyn,${Path:base_dir}/${Path:data_dir}/Hlinedata
extension = .bp

[Program]
babsma = ${Path:base_dir}/${Path:exec_dir}/babsma_lu
bsyn = ${Path:base_dir}/${Path:exec_dir}/bsyn_lu
eqwidth =${Path:base_dir}/${Path:exec_dir}/eqwidt_lu

[Files]
;linedata_files = ${Path:base_dir}/COM-v15.1/linelists/TestBsyn,${Path:base_dir}/COM-v15.1/DATA/Hlinedata
;eqw_files = ${Path:base_dir}/COM-v15.1/linelists/vald_eqw.list
;loggf_files = ${Path:base_dir}/COM-v15.1/linelists/gf0600.100

[Path]
base_dir = /home/eric/Science/Projets/TurboSpectrum/V15.1/
exec_dir = exec-gf-v15.1
models_path = COM-v15.1/models
data_dir = COM-v15.1/DATA
opacity_dir = COM-v15.1/contopac
linelists_dir = COM-v15.1/linelists
model_dir = /misc/eric/Projets/Synthesis/MARCS/Parallel/
;;model_dir = ${Path:base_dir}/${Path:models_path}/
syntspec_dir = COM-v15.1/syntspec
out_dir = ./
;model_dir = /home/eric/Science/Projets/Synthesis/MARCS/

[Models]
type = parallel
alpha_over_iron = 0.00
helium_fraction = 0.00
r_process_fraction = 0.00
s_process_fraction = 0.00
individual_abundances = 3 1.05, 26 7.58, 12 8.0, 16 8.60

[Results]
opacity_file = ${Path:out_dir}/${Global:model_file}.opac
out_file = ${Global:model_file}.${Results:suffix}
suffix = ${Global:lambda_min}_${Global:lambda_max}_${Global:turbulence_velocity}


;[Abundances]
;C=8.65
;O=7.78
;N=8.66
